#dropdown_parents_list {
  background: #fff;
  border: 1px solid #e9e9e9;
}
.message_board {
  padding: 10px 50px;
}
.pointing_form {
  background: no-repeat center url("../images/brac_bkg.png");
  background-size: auto 100%;
}
